[[plugins]]
repo = 'Shougo/vimproc'
    [plugins.build]
    windows = 'tools\\update-dll-mingw'
    cygwin = 'make -f make_cygwin.mak'
    mac = 'make -f make_mac.mak'
    linux = 'make'
    unix = 'gmake'

[[plugins]]
repo = 'tpope/vim-commentary'

[[plugins]]
repo = 'AndrewRadev/switch.vim'

[[plugins]]
repo = 'cohama/lexima.vim'

[[plugins]]
repo = 'tpope/vim-surround'

[[plugins]]
repo = 'scrooloose/nerdtree'

[[plugins]]
repo = 'ctrlpvim/ctrlp.vim'

[[plugins]]
repo = 'rking/ag.vim'

[[plugins]]
repo = 'pelodelfuego/vim-swoop'

[[plugins]]
repo = 'thinca/vim-qfreplace'

[[plugins]]
repo = 'vim-jp/vimdoc-ja'

[[plugins]]
repo = 'thinca/vim-ref'
on_cmd = 'Ref'
if = '''!(has('win32') && has('win64'))'''

[[plugins]]
repo = 'altercation/vim-colors-solarized'

[[plugins]]
repo = 'Lokaltog/vim-easymotion'

[[plugins]]
repo = 't9md/vim-textmanip'

[[plugins]]
repo = 'airblade/vim-rooter'

[[plugins]]
repo = 'itchyny/lightline.vim'

[[plugins]]
repo = 'nathanaelkane/vim-indent-guides'

[[plugins]]
repo = 'scrooloose/syntastic'

[[plugins]]
repo = 'sheerun/vim-polyglot'
